@use "variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  &__nav {
    &.-pc {
      display: flex;
      align-items: center;
      height: 70px;
    }

    .menu {
      display: flex;
      justify-content: center;
      font-size: 17px;

      a {
        font-weight: 600;
        color: variables.$color-primary;
        transition: opacity variables.$transition-speed-normal;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .menu-item {
      margin: 0 20px;
      letter-spacing: 4px;
    }

    .menu-primary-container {
      flex-grow: 0.6;
    }

    &.-hasBg {
      background-color: variables.$white;
      box-shadow: 0px 0px 6.32px 1.68px rgba(0, 0, 0, 0.21);
    }
  }

  &.-fixed {
    position: fixed;
    z-index: 200;
    width: 100%;
    background-color: rgba(
      variables.$color: variables.$white,
      variables.$alpha: 0.9
    );
  }

  &__hammenu {
    position: absolute;
    top: 2px;
    right: 6px;
    z-index: 200;
  }

  &__trigger,
  &__trigger span {
    box-sizing: border-box;
    display: inline-block;
    transition: all variables.$transition-speed-normal;
  }

  &__trigger {
    position: relative;
    width: 52px;
    height: 52px;
  }

  &__trigger span {
    position: absolute;
    left: 50%;
    width: 26px;
    height: 2px;
    background-color: #fff;

    &:first-of-type {
      transform: translate(-50%, 16px);
    }

    &:nth-of-type(2) {
      top: 48%;
      transform: translate(-50%, -50%);
    }

    &:nth-of-type(3) {
      transform: translate(-50%, 32px);
    }
  }

  &__trigger.active span:nth-of-type(1) {
    -webkit-transform: translate(-12px, 26px) rotate(-45deg);
    transform: translate(-12px, 26px) rotate(-45deg);
  }
  &__trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
  &__trigger.active span:nth-of-type(3) {
    -webkit-transform: translate(-12px, 26px) rotate(-45deg);
    transform: translate(-12px, 26px) rotate(45deg);
  }
}

.fixedMenu {
  position: fixed;
  top: 120px;
  right: 13px;
  z-index: 100;
  min-height: 440px;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;

  &__link {
    padding: 32px 16px;
    font-size: 14px;
    color: variables.$white;
    letter-spacing: 1px;

    &:first-child {
      background-color: #3983c8;
    }

    &:nth-child(2) {
      background-color: #58a2c4;
    }
  }

  &__icon {
    margin-bottom: 20px;
  }
}

.custom-logo-link {
  max-width: 190px;
  margin-left: 24px;

  img {
    width: 100%;
    height: auto;
  }
}
