@use "variables";

.-vertical {
  writing-mode: vertical-rl;
}

.subHeadingEn {
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
  color: variables.$color-primary;
  letter-spacing: 13px;
}

.seemoreLinkArea {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.seemoreLink {
  display: inline-block;
  padding-right: 24px;
  margin-bottom: 16px;
  transition: opacity variables.$transition-speed-normal;

  &:hover {
    opacity: 0.6;
  }

  &.-sp {
    display: none;
  }
}

.linkText {
  margin-right: 24px;
  font-size: 20px;
  color: variables.$color-primary;
  letter-spacing: 2px;

  &.-large {
    display: none;
  }
}

.linkCircle {
  position: relative;
  display: block;
  min-width: 36px;
  min-height: 36px;
  border: 1px solid variables.$color-primary;
  border-radius: 50%;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 1px;
    content: "";
    background-color: variables.$color-primary;
  }

  &::after {
    position: absolute;
    top: 45%;
    right: -67%;
    width: 6px;
    height: 1.4px;
    content: "";
    background-color: variables.$color-primary;
    transform: rotate(35deg);
  }
}

.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  &__header {
    position: relative;
  }

  &__heading {
    position: absolute;
    top: 58%;
    left: 50%;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 12px;
    transform: translate(-50%, -50%);
  }
}

.otherServiceLinks {
  display: flex;
  justify-content: center;
}

.otherServiceLink {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 132px;
  min-height: 132px;
  margin: 0 30px;
  background-color: variables.$color-secondary;
  border-radius: 50%;
}

.otherServiceIcon {
  &.-note {
    width: 36%;
  }

  &.-youtube {
    width: 47%;
  }

  &.-facebook {
    width: 19%;
  }
}

@include variables.mq(variables.$tablet) {
  .page {
    &__heading {
      top: 60%;
      font-size: 6.7vw;
      letter-spacing: 6px;
    }
  }

  .subHeadingEn {
    font-size: 30px;
    letter-spacing: 8px;
  }

  .seemoreLink {
    &.-pc {
      display: none;
    }

    &.-sp {
      display: inline-block;
    }
  }

  .seemoreLinkAreaWrapper {
    text-align: right;

    .seemoreLink {
      padding-right: 0;
    }
  }

  .linkText {
    margin-right: 3.2vw;
    font-size: 3.46vw;
  }

  .linkCircle {
    min-width: 7.47vw;
    min-height: 7.47vw;

    &::before {
      width: 8.8vw;
    }

    &::after {
      top: 45%;
      right: -74%;
    }
  }

  .otherServiceLink {
    width: 14.934vw;
    min-width: 14.934vw;
    min-height: 14.934vw;
    margin: 0 3.4vw;
  }

  .otherServiceIcon {
    &.-twitter {
      width: 44%;
    }
  }
}
