@use "variables";

.profile {
  &__headerPolkaDot {
    position: absolute;
    top: 34%;
    right: 0;
    width: 19.72%;
  }

  &__message {
    max-width: variables.$content-width-sm;
    padding: 0 12px;
    margin: 128px auto 0;
  }

  &__messageInner {
    display: flex;
    align-items: flex-start;
  }

  &__messageBlock {
    .subHeadingJp {
      height: 524px;
      margin-right: 32px;
    }
  }

  &__messageContents {
    position: relative;
    margin-right: 56px;
  }

  &__paragraphWrapper {
    margin: 32px 0;
  }

  &__paragraph {
    font-size: 15px;
    line-height: 2.66;

    &:not(:first-of-type) {
      margin-top: 48px;
    }
  }

  &__messageConclusion {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    color: variables.$color-primary;
    text-align: right;
    letter-spacing: 3px;
  }

  &__messagePolkaDot {
    position: absolute;
    bottom: 40px;
    bottom: 200px;
    left: -19%;
    width: 17.46%;
  }

  &__profile {
    max-width: variables.$content-width-sm;
    padding: 0 12px;
    margin: 128px auto 0;
  }

  &__profileColumn {
    display: flex;

    &:not(:first-of-type) {
      margin-top: 64px;
    }

    &.-bottom {
      .profile__profilePicture {
        margin-top: 12px;
        margin-left: 56px;
      }
    }
  }

  &__profileColumnInner {
    display: flex;
  }

  &__profilePicture {
    margin-left: 48px;
  }

  &__profileRight {
    width: 58.4%;
    margin-left: 64px;

    .profile__paragraph {
      margin-top: 16px;
      letter-spacing: 1px;
    }
  }

  &__profileName {
    width: 34.09%;
  }

  &__profilePosition {
    display: block;
    width: 69.17%;
    margin-top: 16px;
  }

  &__profileText {
    width: 100%;

    .profile__paragraph {
      letter-spacing: 1px;
    }
  }

  &__works {
    display: flex;
    justify-content: space-between;
    max-width: variables.$content-width-sm;
    padding: 0 12px;
    margin: 128px auto 0;

    .subHeadingJp {
      height: 192px;
      margin-right: 30px;
    }
  }

  &__worksContents {
    width: 100%;
    margin-right: 64px;
  }

  &__worksTableHeading {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      display: inline-block;
      width: 30px;
      height: 1px;
      content: "";
      background-color: #343434;
      transform: translateY(-50%);
    }

    img {
      display: block;
      width: 194px;
      margin-left: 40px;
    }
  }

  &__worksTable {
    margin-top: 24px;
    color: #000;

    dl {
      display: flex;
      align-items: center;
      padding: 20px 0 20px 20px;
      border-top: 1px solid variables.$color-primary;

      &:last-child {
        border-bottom: 1px solid variables.$color-primary;
      }
    }

    dd {
      margin-left: 48px;
      line-height: 2.3;
    }

    a {
      color: #000;
    }
  }

  &__separation {
    position: relative;
    margin: 128px auto 0;
  }

  &__separationPicture {
    height: 100%;
    padding: 8.5%;
    background-image: url(dist/images/profile/separation_image-pc.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  &__separationPolkaDot {
    &.-front {
      position: absolute;
      top: -80px;
      right: 16%;
      width: 10%;
    }

    &.-back {
      position: absolute;
      bottom: -100px;
      left: 7%;
      z-index: -1;
      width: 20.69%;
    }
  }

  &__company {
    display: flex;
    max-width: variables.$content-width-sm;
    padding: 0 12px;
    margin: 128px auto 0;
  }

  &__company {
    .subHeadingJp {
      height: 124px;
      margin-left: 30px;
    }
  }

  &__companyTable {
    width: 100%;
    margin-left: 48px;

    dl {
      display: flex;
      padding: 16px 24px 16px 0;
      border-bottom: 1px solid variables.$color-primary;
    }

    dt {
      width: 23.7%;
      text-align: center;
    }

    dd {
      display: flex;
      align-items: center;
      letter-spacing: 2px;

      &::before {
        display: block;
        width: 1px;
        height: 100%;
        padding: 8px 0;
        content: "";
        background-color: variables.$color-primary;
      }
    }
  }

  &__tableDtSpan {
    display: flex;
    justify-content: space-between;
    width: 64px;
    margin: 8px auto;
  }

  &__tableDdSpan {
    padding: 8px 0;
    margin-left: 48px;
  }

  &__tableList {
    margin: 8px 64px;
    list-style: disc;
  }
}

@include variables.mq(variables.$tablet) {
  .profile {
    &__headerPolkaDot {
      top: 49%;
      width: 26.6%;
    }

    &__message {
      padding: 0 24px;
      margin: 80px auto 0;
    }

    &__messageContents {
      margin-right: 24px;
    }

    &__messageBlock {
      .subHeadingJp {
        height: 70.1vw;
        margin-right: 2.2vw;
      }
    }

    &__messageConclusion {
      &.-pc {
        display: none;
      }
    }

    &__profile {
      padding: 0 24px;
      margin: 80px auto 0;
    }

    &__profilePicture {
      margin-left: 24px;
    }

    &__profileRight {
      margin-top: 32px;
    }

    &__profileName {
      width: 28%;
    }

    &__profilePosition {
      width: 57%;
      margin-top: 8px;
    }

    &__paragraph {
      font-size: 14px;
      line-height: 1.9;
      letter-spacing: 0;

      &:not(:first-of-type) {
        margin-top: 24px;
      }
    }

    &__messagePicture {
      &.-second {
        display: block;
        margin-top: 24px;
      }
    }

    &__profileColumn {
      flex-direction: column;

      &.-bottom {
        flex-direction: column-reverse;
        margin-top: 24px;

        .profile__profilePicture {
          margin-bottom: 24px;
          margin-left: 0;
        }
      }
    }

    &__profileRight {
      width: 100%;
      margin-left: 0;
    }

    &__messageConclusion {
      margin-top: 16px;
      font-size: 16px;
    }

    &__works {
      padding: 0 24px;
      margin: 80px auto 0;

      .subHeadingJp {
        height: 25.6vw;
        margin-right: 2.2vw;
      }
    }

    &__worksTable {
      margin-top: 20px;

      &::before {
        width: 9%;
      }

      dl {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px 0 12px;
        font-size: 12px;
        font-feature-settings: "palt";
        letter-spacing: 1px;
      }

      dd {
        margin-top: 6px;
        margin-left: 0;
      }
    }

    &__worksTableHeading {
      &::before {
        width: 9%;
      }

      img {
        width: 37.07vw;
        margin-left: 13%;
      }
    }

    &__worksContents {
      margin-right: 32px;
    }

    &__separation {
      margin: 80px auto 0;
    }

    &__separationPolkaDot {
      &.-front {
        top: -19vw;
        right: 6%;
        width: 26.8%;
      }

      &.-back {
        bottom: -9vw;
        left: 10%;
        z-index: 1;
        width: 10.85%;
      }
    }

    &__separationPicture {
      padding: 23.334%;
      background-image: url(dist/images/profile/separation_image-sp.jpg);
    }

    &__company {
      padding: 0 24px;
      margin: 80px auto 0;

      .subHeadingJp {
        height: 16.67vw;
        margin-left: 3.8vw;
      }
    }

    &__companyTable {
      margin-left: 16px;

      dl {
        flex-direction: column;
        padding: 8px 0 6px 32px;
        font-size: 12px;

        &:not(:first-child) {
          padding: 16px 0 6px 32px;
        }
      }

      dt {
        width: 100%;
      }

      dd {
        &::before {
          content: none;
        }
      }
    }

    &__tableDtSpan {
      position: relative;
      width: 54px;
      margin: 0 0 2px;

      &::before {
        position: absolute;
        top: 50%;
        left: -32px;
        display: inline-block;
        width: 5.3vw;
        height: 1px;
        content: "";
        background-color: rgba($color: #c2b08a, $alpha: 0.5);
        transform: translateY(-50%);
      }

      &.-established {
        width: 36px;
      }
    }

    &__tableDdSpan {
      margin-left: 0;
    }

    &__tableList {
      margin: 8px 0 6px 16px;
    }
  }
}
