// Border
// $border-radius-regular: 4px;
// $border-width-regular: 1px;

// hover Opacity Rule
// $hover-opacity: 0.6;

// Color Rule
$color-primary: #bca874;
$color-primary-tint: #fef8f0;

$color-secondary: #3eceaa;

$white: #ffffff;
$black: #343434;

// Width Rule
$content-width-xxs: 480px;
$content-width-xs: 769px;
$content-width-sm: 1024px;
$content-width-md: 1100px;
$content-width-xl: 1280px;

// media-query
$mobile: $content-width-xxs;
$tablet: $content-width-xs;
$pc: $content-width-sm;

@mixin mq($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}
